@font-face {
    font-family: "boschsans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/boschsans_bold.eot?") format("eot"),
      url("../fonts/boschsans_bold.woff2") format("woff2"),
      url("../fonts/boschsans_bold.woff") format("woff"),
      url("../fonts/boschsans_bold.ttf") format("truetype"),
      url("../fonts/boschsans_bold.svg#boschsans") format("svg");
  }
  
  @font-face {
    font-family: "boschsans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/boschsans_medium.eot?") format("eot"),
      url("../fonts/boschsans_medium.woff2") format("woff2"),
      url("../fonts/boschsans_medium.woff") format("woff"),
      url("../fonts/boschsans_medium.ttf") format("truetype"),
      url("../fonts/boschsans_medium.svg#boschsans") format("svg");
  }
  
  @font-face {
    font-family: "boschsans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/boschsans_regular.eot?") format("eot"),
      url("../fonts/boschsans_regular.woff2") format("woff2"),
      url("../fonts/boschsans_regular.woff") format("woff"),
      url("../fonts/boschsans_regular.ttf") format("truetype"),
      url("../fonts/boschsans_regular.svg#boschsans") format("svg");
  }
  
  @font-face {
    font-family: "boschsans";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/boschsans_light.eot?") format("eot"),
      url("../fonts/boschsans_light.woff2") format("woff2"),
      url("../fonts/boschsans_light.woff") format("woff"),
      url("../fonts/boschsans_light.ttf") format("truetype"),
      url("../fonts/boschsans_light.svg#boschsans") format("svg");
  }

body
{
    font-family: "boschsans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4
{
    padding-top: 30px;
    padding-bottom: 20px;
}

.input-group
{
    padding-bottom: 20px;
}

.navbar
{
    padding-left: 40px;
    padding-right: 40px;
}

.table-success
{  
    --bs-table-bg: #98d3b9;  
    --bs-table-hover-bg: #acc9bd;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
